.git/
.gitignore

**/__pycache__/
**/*.pyc
**/*.pyo

**/.venv/
**/.env
**/.env.*
!**/.env.example

**/node_modules/

certs/
db/
raw/
media/
logs/

docs/
test_fixtures/

.mypy_cache/
.ruff_cache/
.pytest_cache/
